@font-face{
    src:url(fonts/Roboto.ttf);
    font-family: Roboto;
}

.main_div{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 200px;
    height: 170px;
    align-items: center;
    border-radius: 10px;
    background-color: #faf3e8;
}

.counter_div{
    font-size: 40px;
    margin: 15px;
    font-weight: bolder;
}

.buttons_div button{
    margin: 6px;

}

.lrb{
    width: 40px;
}

.b{
    background-color: #896853;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    border-style: none;
    padding: 10px;
    border-radius: 8px;
}

.cb{
    width: 100px;
}